<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8d1_mQICZjTHAU5Pkur5Sqxt8KMUC-xk</string>
	<key>GCM_SENDER_ID</key>
	<string>443723927584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hisab.app</string>
	<key>PROJECT_ID</key>
	<string>hisab-28aac</string>
	<key>STORAGE_BUCKET</key>
	<string>hisab-28aac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443723927584:ios:4f0965d6790eb0f4192c45</string>
</dict>
</plist>
